<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just a test</title>
</head>
<body>
    <header class="head">
        <div class="top">
            <h1 class="first">To days top news</h1>
        </div>
    </header>
    <section class="content">
        <nav class="nav">
            <div class="body">
                <h1 class="next-page"><a href="{% url 'home'%}">Home</a></h1>
            </div>
        </nav>
    </section>
</article>
{% for entry in entries %} 
<article class="media">
    <div class="media-container">
        <div class="container">
            <p><strong>{{entry.date_posted}}</strong><br>{{ entry.text }}.</p>
        </div>
    </div>
</article>

{% endfor %}
</body>
</html>